name: Coverage

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  unit_test:
    name: Unit test (linux)

    strategy:
      matrix:
        platform: [ubuntu-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "1"
          check-latest: true

      - name: Run tests with coverage report output
        run: go test -cover -coverpkg=./... -coverprofile=cover.out ./...

      - name: Debug coverage input
        run: |
          pwd
          ls -l cover.out
          go tool cover -func=cover.out | tail -1
          cat .octocov.yml

      - uses: k1LoW/octocov-action@v1
        with:
          config: .octocov.yml
          work-dir: .
          args: --report=cover.out
